* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  /* border: 1px solid white; */
  scrollbar-width: none;
}
body {
  background-color: #f9f5e9;
  color: #32312e;
  position: relative;
}

nav {
  color: #f9f5e9;
  position: fixed;

  top: 0;
  left: 0;
  background-color: #32312e;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10px;
  /* padding-top: 55px; */
  font-size: 1.5rem;
}
nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
}
nav ul li {
  color: #f9f5e974;
  width: 90%;
  /* margin: 15px; */
}

header {
  width: 85vw;
  position: fixed;
  top: 0;
  left: 15vw;
  /* border: 1px solid red; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
  background-color: #f9f5e9;
  z-index: 9;
}
header h1 {
  font-family: "Prosto One", sans-serif;
  font-size: 2.8rem;
}
.headerNavBtns {
  padding: 10px 15px;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 0 10px;
  font-weight: bold;
}
.headerNavBtns:hover {
  opacity: 1;
  cursor: pointer;
}
.navBtns {
  color: #f9f5e9;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: transparent;
  font-size: 27px;
  font-weight: 600;
  border-radius: 10px;
}
.navBtns:hover {
  cursor: pointer;
  background-color: #585751;
}

.activeNav {
  width: 100%;
  background-color: #474641;
  opacity: 1;
  color: #f9f5e9;
  border: none;
}
.activeNav:hover {
  opacity: 1;
}
#contentDiv {
  width: 85vw;
  position: relative;
  left: 15vw;
  top: 10vh;
  height: auto;
  padding: 20px 50px;
}
#sellDiv,
#buyDiv {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#sellHeader {
  width: 100%;
}
#sellContent {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: nowrap;

}
#newBookBtn {
  padding: 10px 15px;
  border: none;
  background: #32312e;
  color: #f9f5e9;
  border: 2px solid #32312e;
  font-weight: bold;
  border-radius: 10px;
}
#newBookBtn:hover {
  cursor: pointer;
  background-color: #4e4c47;
}
#selledBooksData{
  width: 65vw;
  display: flex;align-items: center;justify-content: center;

}
#sellForm {
  width: 20vw;
  padding: 30px 10px;
  background-color:#00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  gap: 50px;
  border: 1px solid #32312e31;
  border-radius: 0 20px 20px 0;  
}
#sellForm h2{
  color: rgb(45, 144, 45);
}
#sellForm fieldset {
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#sellForm fieldset legend {
  color: #32312e;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;

}
#sellForm fieldset label {
  opacity: 0.6;
  font-weight: bold;
  margin: 10px 0;

}
#sellForm fieldset input{
  width:80%;
  height: 45px;
  border: 2px solid #32312e;
  background: transparent;
  color: #32312e;
  font-size: 19px;
  border-radius: 10px;
}

.selects{
  width:80%;
  height: 45px;
  border: 2px solid #32312e;
  background: transparent;
  color: #32312e;
  font-size: 19px;
  border-radius: 10px;  
}
.selects:hover{
  cursor: pointer;
}