* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
body {
  background-color: #f9f5e9;
  color: #32312e;
  position: relative;
}

nav {
  color: #f9f5e9;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #32312e;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10px;
  /* padding-top: 55px; */
  font-size: 1.5rem;
}
nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
}
nav ul li {
  color: #f9f5e974;
  width: 90%;
  /* margin: 15px; */
}

header {
  width: 85vw;
  position: fixed;
  top: 0;
  left: 15vw;
  /* border: 1px solid red; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
}
header h1 {
  font-family: "Prosto One", sans-serif;
  font-size: 2.8rem;
}
.headerNavBtns {
  padding: 10px 15px;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 0 10px;
  font-weight: bold;
}
.headerNavBtns:hover {
  opacity: 1;
  cursor: pointer;
}
.navBtns {
  color: #f9f5e9;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: transparent;
  font-size: 27px;
  font-weight: 600;
  border-radius: 10px;
}
.navBtns:hover {
  cursor: pointer;
  background-color: #585751;
}

.activeNav {
  width: 100%;
  background-color: #474641;
  opacity: 1;
  color: #f9f5e9;
  border: none;
}
.activeNav:hover {
  opacity: 1;
}
#contentDiv {
  width: 85vw;
  position: relative;
  left: 15vw;
  top: 10vh;
  height: auto;
  padding: 20px 50px;
}
#sellDiv,
#buyDiv {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#sellHeader {
  width: 100%;
}
#sellContent {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#newBookBtn {
  padding: 10px 15px;
  border: none;
  background: transparent;
  border: 2px solid #32312e;
  font-weight: bold;
  border-radius: 10px;
}
#newBookBtn:hover {
  cursor: pointer;
  background-color: #32312e14;
}
